@media screen and (max-width: 760px) {
    .left {
        display: none;
    }

    .right {
        background-image: url("../src/login.png");
    }

    .right .title {
        margin-bottom: 20px;
        display: block;
    }

    .form-container {
        background-color: white;
        width: 70%;
    }
}
