* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailcontainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(247, 242, 242);
}
.top {
    height: 65%;
    /* flex: 1; */
    background-image: url("../src/dilan\ top\ bg.png");
    background-size: cover;
    /* background-position: center; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 10px;
    justify-content: right;
}
/* .modal-body{
    border-color: rgba(245, 0, 0, 0.5) !important;
} */

.bottom .borrowmodal{
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: end;
}
.modal .modal-header{
    border: none !important;
}

.modal .modal-footer{
    border: none !important;
}

.topmodal{
    color: aliceblue;
}
.top .topedit{
    margin-right: 15px;
    color: #FFFFFF;
}
.top .topdelete{
    margin-right: 30px;
    color: #FFFFFF;
}

.bottom .stock{
    color: #99D815;
    margin-left: 333px;
}

.bottom .bottomtitle{
    align-items: center;
    display: flex;
}

.modal-input{
    /*display: flex !important;
    */justify-content: space-between !important;
    font-size: 18px !important;
    border-color: #00000080;
    padding-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}